.modal{
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: white;
    padding: .2rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 10vh;
    left: calc(50% - 16rem);
}
.overflow{
    overflow-y: auto;
    max-height: 60%;
    padding-bottom: 10px;
}

.btnLayout{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
    box-shadow: 0 -2px 5px -3px #333;
}

 .btnCart{
    border-radius: 20px;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    background-color: #ffcc00;
    color: black;
    border: 1px solid #ffcc00;
    margin: 0 1rem;
     font-weight: bold;
}
 .price, .qty{
     padding: .3rem .6rem;;

 }
.btnCart:hover, .btnQty:hover{
    background-color: rgba(255,204,0,0.6);
    /*border: rgba(255,204,0,0.6);*/
}
.btnQty{
    border-radius: 20px;
    background-color: #ffcc00;
    border: 1px solid #ffcc00;
    cursor: pointer;
    padding: 0 1rem;

}
.image {
    /*float: right;*/
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    /*border: solid red;*/
}

.image img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

