.cartItem {
    position: relative;

}

/* add a hover effect to the .item class */
.cartItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.content {
    text-align: left;
    padding: 1rem;
    height: 120px; /* set height same as image */
}

.content h3 {
    font-size: 1rem;
    color: #2c292b;
    margin-bottom: 0.5rem;
}

.content span {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 0.5rem;
}
.cartButtons{
    position: absolute;
    top: 40%;
    left: 85%;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.buttonRemove{
    font-size: 1.2em;
    border-radius: 20px;
    padding: 0 1rem;
    cursor: pointer;
    background-color: #ffff;
    color: black;
    border: none;
    font-weight: bold;
}
.buttonRemove:hover {
}

.btnQty{
    border-radius: 20px;
    background-color: #ffcc00;
    border: 1px solid #ffcc00;
    cursor: pointer;
    padding: 0 1rem;

}