.container {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}
.max_select_label {
    text-align: left;
    position: relative;
    float: left;
    color: rgb(118, 118, 118);
    font-family: "Lato Thin", sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
.select_type {
    font-size: 13px;
    color: rgb(118, 118, 118);
    font-family: Lato, sans-serif;
    font-weight: 700;
}
.select_type__group {
    font-size: 13px;
    color: rgb(100, 59, 0);
    background-color: rgb(255, 255, 163);
    font-family: Lato, sans-serif;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
}
.options {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
}
.option {
    text-align: left;
    padding: 6px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgb(233, 234, 236);
}
.button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.radio_icon {
    vertical-align: middle;
    margin-right: 8px;
}
.alert_icon {
    vertical-align: middle;
    margin-right: 4px;
    color: rgb(100, 59, 0);
    position: relative;
    height: 100%;
}
.label {
    font-size: 14px;
    user-select: none;
    font-weight: 600;
    color: rgb(25, 25, 25);
    font-family: Lato, sans-serif;
    margin-right: 5px;
}
.label__price {
    color: rgb(118, 118, 118);
    position: relative;
    float: right;
    font-weight: 700;
    font-size: 14px;
    font-family: Lato, sans-serif;
}
.checkbox {
    margin-right: 8px;
    color: rgb(225, 225, 225);
}
.OrderItem_Checkbox_Checked_Icon {
    position: absolute;
    left: 2px;
    top: -12px;
}
.OrderItem_CheckBox_Wrapper {
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.OrderItem_Checkbox_Checked_GroupOption_Icon {
    position: relative;
    left: -13px;
    top: -2px;
}